In [47]:
import pandas as pd
import numpy as np

In [48]:
sales_df=pd.DataFrame(pd.read_csv('/content/sales_data.csv'))
sales_df.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

In [49]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   object
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 109.5+ KB

In [50]:
sales_df.shape

(1000, 14)

In [51]:
sales_df.columns

Index(['Product_ID', 'Sale_Date', 'Sales_Rep', 'Region', 'Sales_Amount',
       'Quantity_Sold', 'Product_Category', 'Unit_Cost', 'Unit_Price',
       'Customer_Type', 'Discount', 'Payment_Method', 'Sales_Channel',
       'Region_and_Sales_Rep'],
      dtype='object')

In [52]:
# finding and handling the missing values
sales_df.isnull().sum()

Product_ID              0
Sale_Date               0
Sales_Rep               0
Region                  0
Sales_Amount            0
Quantity_Sold           0
Product_Category        0
Unit_Cost               0
Unit_Price              0
Customer_Type           0
Discount                0
Payment_Method          0
Sales_Channel           0
Region_and_Sales_Rep    0
dtype: int64

In [53]:
# finding the duplicate values
sales_df.duplicated().sum()

np.int64(0)

In [54]:
#handling the duplicate valuues
sales_df.drop_duplicates(inplace=True)

In [55]:
# verifying that whether duplicate values has been deleted or not
sales_df.duplicated().sum()

np.int64(0)

In [56]:
# checking whether the elements in all the columns are particulary standarised or not
for col in sales_df[['Sales_Rep','Region','Product_Category','Customer_Type','Payment_Method','Sales_Channel']]:
  print(sales_df[col].unique())

['Bob' 'David' 'Charlie' 'Eve' 'Alice']
['North' 'West' 'South' 'East']
['Furniture' 'Food' 'Clothing' 'Electronics']
['Returning' 'New']
['Cash' 'Bank Transfer' 'Credit Card']
['Online' 'Retail']

In [57]:
# droping unecessary column Region_and_Sales_Rep from the Sales_df Data set
sales_df.drop(columns=['Region_and_Sales_Rep'],axis=1,inplace=True)
sales_df

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1010,2023-04-15,Charlie,North,4733.88,4,Food,4943.03,5442.15,Returning,0.29,Cash,Online
996,1067,2023-09-07,Bob,North,4716.36,37,Clothing,1754.32,1856.40,New,0.21,Bank Transfer,Retail
997,1018,2023-04-27,David,South,7629.70,17,Clothing,355.72,438.27,Returning,0.06,Bank Transfer,Online
998,1100,2023-12-20,David,West,1629.47,39,Electronics,3685.03,3743.39,New,0.01,Bank Transfer,Online
999,1086,2023-08-16,Alice,East,4923.93,48,Food,2632.58,2926.68,Returning,0.14,Cash,Online

In [58]:
# checking the data types
sales_df.dtypes

Product_ID            int64
Sale_Date            object
Sales_Rep            object
Region               object
Sales_Amount        float64
Quantity_Sold         int64
Product_Category     object
Unit_Cost           float64
Unit_Price          float64
Customer_Type        object
Discount            float64
Payment_Method       object
Sales_Channel        object
dtype: object

In [59]:
# changing the data type for Sales_Date from object to date type and changinf the format and style of the Sales_Date from 'YYYY/mm/dd'
#to 'dd/mm/yyyy'.
sales_df['Sale_Date']=sales_df['Sale_Date'].astype('datetime64[ns]').dt.strftime('%d/%m/%y')
sales_df

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel
0,1052,03/02/23,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online
1,1093,21/04/23,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail
2,1015,21/09/23,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail
3,1072,24/08/23,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail
4,1061,24/03/23,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1010,15/04/23,Charlie,North,4733.88,4,Food,4943.03,5442.15,Returning,0.29,Cash,Online
996,1067,07/09/23,Bob,North,4716.36,37,Clothing,1754.32,1856.40,New,0.21,Bank Transfer,Retail
997,1018,27/04/23,David,South,7629.70,17,Clothing,355.72,438.27,Returning,0.06,Bank Transfer,Online
998,1100,20/12/23,David,West,1629.47,39,Electronics,3685.03,3743.39,New,0.01,Bank Transfer,Online
999,1086,16/08/23,Alice,East,4923.93,48,Food,2632.58,2926.68,Returning,0.14,Cash,Online

In [61]:
# Cleaned Data Set
sales_df.set_index('Product_ID',inplace=True)
sales_df

,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel
Product_ID,,,,,,,,,,,,
1052,03/02/23,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online
1093,21/04/23,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail
1015,21/09/23,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail
1072,24/08/23,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail
1061,24/03/23,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online
...,...,...,...,...,...,...,...,...,...,...,...,...
1010,15/04/23,Charlie,North,4733.88,4,Food,4943.03,5442.15,Returning,0.29,Cash,Online
1067,07/09/23,Bob,North,4716.36,37,Clothing,1754.32,1856.40,New,0.21,Bank Transfer,Retail
1018,27/04/23,David,South,7629.70,17,Clothing,355.72,438.27,Returning,0.06,Bank Transfer,Online
1100,20/12/23,David,West,1629.47,39,Electronics,3685.03,3743.39,New,0.01,Bank Transfer,Online
1086,16/08/23,Alice,East,4923.93,48,Food,2632.58,2926.68,Returning,0.14,Cash,Online